/** Modern CSS reset  */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 14px;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/** Page Styles  */
body {
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background: hsl(0, 0%, 12%);
    border-radius: 1rem;
}
.avatar {
    width: 7rem;
    border-radius: 50%;
    margin: 1rem;
}
.name {
    font-weight: 600;
    font-size: 1.75rem;
}
.location {
    font-size: 1rem;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}
.desc {
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0.5rem;
}
.social-button {
    width: 100%;
    margin: 0.5rem;
    background: hsl(0, 0%, 20%);
    border: unset;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.social-button:hover {
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    font-weight: 600;
}
